::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 14px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
p {
  margin: 0;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Finger Paint', cursive;
}

header {
  width: 100vw;
  height: 10%;
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px;
}

header .logo img {
  height: 80%;
  margin-right: 15px;
}

header a {
  margin: 35px;
  width: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

header a .panier {
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 10%;
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}

main {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #content-home {
  width: 45%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
  overflow-y: scroll;
}

main #content-home .card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: blueviolet;
}

main #content-home .card img {
  width: 40%;
  height: 100%;
}

main #content-home .card .textBox {
  width: 60%;
  text-align: center;
}

main #content-home .card .textBox .name {
  font-size: 2.5rem;
}

main #content-home .card .textBox .price {
  font-size: 1.5rem;
}

main #content-home .card .textBox .description {
  display: none;
}

main #content-home .card:nth-child(2n) {
  background-color: #d837b0;
}

main .titre {
  height: 100%;
  width: 55%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .titre h2 {
  font-size: 5rem;
}

main .titre h3 {
  font-size: 2rem;
}

main .titre img {
  width: auto;
  height: 50%;
  margin-top: 40px;
}

main #content-produit {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #content-produit .card {
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #content-produit .card img {
  width: 25vw;
  height: 18vw;
  -o-object-fit: contain;
     object-fit: contain;
}

main #content-produit .card .textBox {
  width: 50%;
  text-align: center;
}

main #content-produit .card select {
  margin-top: 25px;
  border: 2px solid blueviolet;
  padding: 8px;
  border-radius: 10px;
}

main #content-produit button {
  background-color: blueviolet;
  color: white;
  font-size: 600;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */